img {
	max-width: 100%;
	background-color: black;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}
.logo{
	color:#69d1eb;
}
.button-1{
	background-color: #69d1eb;
    color: #FFF;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px #03afdf, 0 0 25px #03afdf;
}
.img-gelo{
	height: 65vh;
    padding: 50px 50px;
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.img-gelo h1 {
	opacity: 1.0;
}

.img-gelo p {
	padding:550px 250px 100px 250px ;
	opacity: 1.0;
}

.img-gelo .button-1 {
	padding:10px 0px 10px 0px;
	text-align: center;
	opacity: 1.0;
}

.container-button{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 120px;
}

.titulo-1{
	padding-top: 50px;
    font-size: 50px;
	text-align: center
}

.container-1{
	background-image: url(../img/gelinho.jpeg);
	text-align: center;
	background-repeat: no-repeat;
}

.desc-1{
	color: #FFF;
	padding-top: 500px;
	text-align: center;
}


.container-fluid{
	color: #69d1eb;
	text-align: center;
	background-color: black;
}

.row h2{
	padding: 0 0 5px 0;
	margin-top: 20px;
	box-shadow: 5px 0 5px 2px #69d1eb;
	background-color: #FFF;
	border-radius: 10px;
}

.eventos-img, .tickets-img, .promocoes-img{
	margin-top: 15px;
	width: 300px;
	border-radius: 10px;
}

.txt-desc{
	color: #FFF;
	text-align: left;
	margin: 10px 0 0 40px;
}

.button-2{
	margin: 10px;
	background-color: #69d1eb;
    color: #FFF;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px #03afdf, 0 0 25px #03afdf;
}