<section>
    <div class="form-box">
        <div class="form-value">
            <form id="formcadastro">
                <h2>Cadastre seus eventos </h2>
                <div class="inputbox"> <ion-icon name="mail-outline"></ion-icon> <input type="text" name="nome" required>
                    <label>Nome</label>
                </div>
                <div class="inputbox"> <ion-icon name="mail-outline"></ion-icon> <input type="text" name="email" required>
                    <label>Email</label>
                </div>
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input type="text" name="local"
                    required> <label>Local</label> </div>
                    <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input type="text" name="data"
                            required> <label>Data</label> </div>
                    <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="horario"
                            required>
                        <label>Horário</label>  </div>
                        
                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input type="text" name="estilo"
                        required> <label>Estilo</label> </div>

                <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input style="height: 40px;" type="file" accept="image/jpeg" name="foto"
                        required> <label style="top: -8px;">Foto</label> </div>
                <div class="forget"> <label> </div>
                    
                <button type="button" onclick="cadastrar()">Cadastrar</button>

            </form>
        </div>
    </div>
</section>

<%- contentFor("espaco-head") %>
<style>

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }

    .form-box {
        position: relative;
        padding: 20px;
        background: transparent;
        border: none;
        border-radius: 20px;
        backdrop-filter: blur(15px) brightness(80%);
        box-shadow: 2px 0px 0px 2px #009DFF;
    }

    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center; 
    }

    .inputbox {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;
    }

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

    /* animations: start */
    input:focus~label,
    input:valid~label {
        top: -5px;
    }

    /* animation:end */
    .inputbox input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
    }

    .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }

    .forget {
        margin: -10px 0 17px;
        font-size: 0.9em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    .forget label input {
        margin-right: 3px;
    }

    .forget a {
        color: #fff;
        text-decoration: none;
    }

    .forget a:hover {
        text-decoration: underline;
    }

    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background-color: #FE5500;
        box-shadow: 5px 0 5px 0 #FE5500;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }

    .register {
        font-size: 0.9em;
        color: rgb(0, 157, 255);
        text-align: center;
        margin: 25px 0 10px;
    }

    .register p a {
        text-decoration: none;
        color: rgb(0, 157, 255);
        font-weight: 600;
    }

    .register p a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 480px) {
        .form-box {
            width: 100%;
            border-radius: 0px;
        }
    }
</style>

<%- contentFor("espaco-rodape") %>
<script>
    async function cadastrar() {
        let formcadastro = document.getElementById("formcadastro");
        try {
            waitSwal();

            let response = await fetch("/cadastrar", {
                method: "POST",
                body: new FormData(formcadastro)
            });

            if (!response.ok) {
                await exibirErro(response);
                return;
            }

            Swal.fire("Sucesso!", "Evento cadastrado com sucesso!", "success");

            formcadastro.reset();
        } catch (ex) {
            Swal.fire("Erro", "Erro de rede ao cadastrar evento!", "error");
        }
    }
</script>
