<!-- <div class="img-gelo" style="background-image: url(/public/img/gelinho.jpeg)">

			<h1 class="titulo-1">Seja bem vindo ao <span class="logo">iceBreak</span> </h1>

			<p class="desc-1">conte-nos um pouco sobre seu perfil de musica/festa que você curte 😉.</p>

			<div class="container-button">
				<button class="button-1">Vamos lá</button>
			</div>

		</div> -->

<div class="container-1">
  <h1 class="titulo-1">Seja bem vindo ao <span class="logo">iceBreak</span></h1>

  <p class="desc-1">
    conte-nos um pouco sobre seu perfil de musica/festa que você curte 😉.
  </p>

  <div class="container-button">
    <button class="button-1">Vamos lá</button>
  </div>
</div>

<div class="container-fluid fundo-colunas-inicial">
  <div class="row">
    <div class="col-sm-4">
      <h2>Eventos</h2>
      <img class="eventos-img" src="/public/img/img-eventos.jpg" alt="" />
      <p class="txt-desc">Confira os nossos eventos em destaque 🥳</p>
      <div class="button-events">
        <button class="button-2">Confira</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Ingressos</h2>
      <img class="tickets-img" src="/public/img/img-tickets.jpg" alt="" />
      <p class="txt-desc">Ingressos disponívies, dê uma olhada 🤑</p>
      <div class="button-events">
        <button class="button-2">Confira</button>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Promoções</h2>
      <img class="promocoes-img" src="/public/img/img-promocoes.jpg" alt="" />
      <p class="txt-desc">Veja as promoções do dia 💸</p>
      <div class="button-events">
        <button class="button-2">Confira</button>
      </div>  
    </div>
  </div>
</div>
