<div class="container-fluid">
  <div class="row landing">
    <div class="col-md-12 overlay">
      <div class="bem-vindo">
        <h1 class="titulo-1">Seja Bem-vindo ao <span class="logo">iceBreak</span></h1>
        <p class="desc-1">Conte-nos um pouco sobre seu perfil de musica/festa que você curte 😉.</p>
        <div class="container-button">
          <button class="btn-1">Vamos lá</button>
        </div>
      </div>
    </div>
    <!-- 
    <div class="col-md-5 img-gelo">
      <img src="/public/img/gelinho.jpeg">
    </div> 
    -->
  </div>

  <div class="row fundo-colunas-inicial">
    <div class="col-md-4 item-landing">
      <h2>Eventos</h2>
      <img class="eventos-img" src="/public/img/img-eventos.jpg" alt="" />
      <div class="responsive-card">
        <p class="txt-desc">Confira os destaques 🥳</p>
        <a href="/eventos"><button class="btn-2">Confira</button></a>
      </div>
    </div>
    <div class="col-md-4 item-landing">
      <h2>Ingressos</h2>
      <img class="eventos-img" src="/public/img/img-tickets.jpg" alt="" />
      <div class="responsive-card">
        <p class="txt-desc">Ingressos disponíveis 🤑</p>
        <button class="btn-2">Confira</button>
      </div>
    </div>
    <div class="col-md-4 item-landing">
      <h2>Promoções</h2>
      <img class="eventos-img" src="/public/img/img-promocoes.jpg" alt="" />
      <div class="responsive-card">
        <p class="txt-desc">Veja as promoções do dia 💸</p>
        <button class="btn-2">Confira</button>
      </div>
    </div>
  </div>
</div>