
		<!-- <div class="img-gelo" style="background-image: url(/public/img/gelinho.jpeg)">

			<h1 class="titulo-1">Seja bem vindo ao <span class="logo">iceBreak</span> </h1>

			<p class="desc-1">conte-nos um pouco sobre seu perfil de musica/festa que você curte 😉.</p>

			<div class="container-button">
				<button class="button-1">Vamos lá</button>
			</div>

		</div> -->

		<div class="container-1">
			<h1 class="titulo-1">Seja bem vindo ao <span class="logo">iceBreak</span></h1>

			
			<p class="desc-1">conte-nos um pouco sobre seu perfil de musica/festa que você curte 😉.</p>
		
			<div class="container-button">
				<button class="button-1">Vamos lá</button>
			</div>
		</div>