<div class="container-fluid text-center">

    <div class="CorTituloSobreNos">

        <h1>
            Sobre
        </h1>

        <p>
            Sobre nós! 😊
        </p>

    </div>

    <div class="row corletrasobrenos">

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top" src="public/img/FotoAntonio.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Antônio Cesar Pereira Melo</h5>
                    <p class="card-text">
                        20 anos <br>
                        Primeiro judoca programador 😅
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top" src="public/img/FotoBruno.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Bruno de Assis Pereira</h5>
                    <p class="card-text">
                        21 anos<br>
                        Estudante da Espm<br>
                        2° semestre de Sistemas de Informação
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top" src="/public/img/FotoPIETRO.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Pietro Garbin Navarro de Andrade</h5>
                    <p class="card-text">
                        18 anos<br>
                        Estudante da Espm<br>
                        2° semestre de Sistemas de Informação
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top" src="/public/img/FotoViniE.jpeg">
                <div class="card-body">
                    <h5 class="card-title">Vinicius Eduardo Tinoco da Silva</h5>
                    <p class="card-text">
                        Estudante do 2° semestre de Sistemas de Informação
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

    </div>

</div>

<%- contentFor("espaco-head") %>

    <style>
        .corletrasobrenos {
            color: black;
        }
        .CorTituloSobreNos{
            color: azure;
        }
        
    </style>